<h2 class="page-header" style="color: white;">About this project</h2>
<div class="jumbotron">
  Hello
  
  </br>
  <a href="/"> Link to YouTube video </a>
  </br>
  <a href="/"> Link to Wiki page </a>
  </br>
</div>