<h2 class="page-header" style="color: white;">All Users</h2>
<div class="container">
	{{#if users}}
		<ol>
			{{#each users}}
				<li> {{name}} {{email}} </li>
			{{/each}}
		</ol>
	{{else}}
		<div style="color: white;"> Error </div>
	{{/if}}
</div>