<script type="text/javascript">
$(document).ready(() => {
	var game = Sudoku.getInstance();

	window.startTime = Date.now();

	$('#container').append(game.getGameBoard());
	// Start game with default difficulty setting of easy
	game.generate(30);

	$('#easy').click(() => {
		game.generate(30);
	});

	$('#med').click(() => {
		game.generate(45);
	});

	$('#hard').click(() => {
		game.generate(55);
	});

	$('#extr').click(() => {
		game.generate(64);
	});

	$('#validate').click(() => {
		game.validate();
	});

	$('#reset').click(() => {
		game.reset();
		game.generate(30);
	});

	$('#checkUser').click(() => {
		if (!game.check()) {
			window.elapsed = Date.now() - window.startTime;
			$(location).attr('href', '/solved');
		}
	});

	$('#checkNoUser').click(() => {
		game.check();
	});
});
</script>

<div>
	<p style="color: white; font-size: 20px;">Start New Game</p>
	<button id="easy" class="btn btn-success">Easy</button>
	<button id="med" class="btn btn-primary">Medium</button>
	<button id="hard" class="btn btn-warning">Hard</button>
	<button id="extr" class="btn btn-danger">Extreme</button>
</div>

<div id="container"></div>
<div id="menu" class="sudoku-menu">
	{{#if user}}
		<div class="inner"><button id="checkUser" class="btn btn-default">Check</button></div>
	{{else}}
		<div class="inner"><button id="checkNoUser" class="btn btn-default">Check</button></div>
	{{/if}}
	<div class="inner"><button id="validate" class="btn btn-default">Validate Board</button></div>
	<div class="inner"><button id="reset" class="btn btn-default">Reset</button></div>
</div>
