<h2 class="page-header" style="color: white;">Best Times</h2>
<div class="container">
	{{#if userInfo}}
		<ol>
			{{#each userInfo.solveTimes}}
				<li> {{this}} seconds </li>
			{{/each}}
		</ol>
	{{else}}
		<div style="color: white;"> Error </div>
	{{/if}}
</div>