body {
  padding-top: 10px;
  padding-bottom: 10px;
  background-image: url("http://img09.deviantart.net/d4c8/i/2008/222/9/7/wood_wall_2___print_version_by_oliuss.jpg");
  background-size: 100%;
}

.header,
.marketing,
.footer {
  padding-right: 10px;
  padding-left: 10px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 3px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 15px;
  color: #777;
  border-top: 3px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 15px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.page-header {
  margin-top: 0;
}

footer {
  margin-top: 30px;
  position: absolute;
  width: 97%;
}

h1 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.sudoku-menu {
  width: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.sudoku-menu button {
  font-size: 20px;
  margin: 15px;
  padding: 5px;
}

.sudoku-container {
  border: 5px solid #666;
  margin-left: auto;
  margin-right: auto;
}

.sudoku-container {
  margin: 1;
  margin-top: 20px;
  margin-bottom: 20px;
}

.sudoku-container input {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 20px;
  padding: 0;
  border: 1px #ccc solid;
  background: transparent;
}

.sudoku-container .sudoku-input-error {
  background: #ffc9d7;
}

.sudoku-container.valid-matrix {
  border: 5px solid #7edb37;
}

.sudoku-container.invalid-matrix {
  border: 5px solid #ff3333;
}

.sudoku-section-one {
  background: #ccc;
}

.sudoku-section-two {
  background: white;
}

#menu {
  width: 100%;
  text-align: center;
}

.inner {
  display: inline-block;
}

td {
  border: 1px solid #000000;
  text-align: center;
  vertical-align: middle;  
}

div > a {
  font-size: 200%;
}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

#solver {
  margin-top: 5px;
}

#about {
  display: inline-block;
  color: white;
  font-style: 20px;
}
